html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

div {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

p {
  margin: 0; }

h1 {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  overflow-x: hidden;
  color: #000000;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color: #1F285A;
  line-height: 17px; }

body, html {
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  padding-left: 0; }

.wrapper-offset {
  padding-left: 10%;
  padding-right: 10%; }

.form__input {
  padding: 16px 20px;
  background-color: #ffffff;
  border: 2px solid #D4D8F3;
  -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
          box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
  border-radius: 3px; }

.btn-submit {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 16px 0;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#182C9F), to(#0EA6A6));
  background: -o-linear-gradient(left, #182C9F 0%, #0EA6A6 100%);
  background: linear-gradient(90deg, #182C9F 0%, #0EA6A6 100%);
  -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.25);
          box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.25);
  border-radius: 3px;
  border: none; }
  .btn-submit::after {
    content: "";
    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    -webkit-animation-name: btn_flare;
            animation-name: btn_flare;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: .05s;
            animation-delay: .05s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .btn-submit:hover {
    cursor: pointer; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 33px;
  padding-bottom: 29px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
          box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
  z-index: 5; }

.header_media {
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.header__menu_media {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 75vw;
  height: 100vh;
  padding: 40px;
  background-color: #ffffff;
  z-index: 5; }

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(31, 40, 90, 0.8); }

.overlay_active {
  display: block;
  -webkit-animation: fadeIn .3s ease-in-out both;
          animation: fadeIn .3s ease-in-out both; }

.overlay_unactive {
  -webkit-animation: fadeOut .3s ease-in-out both;
          animation: fadeOut .3s ease-in-out both; }

.header__menu-icon {
  min-width: 24px;
  min-height: 17px; }

.header__menu-icon_open {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #182C9F; }
  .header__menu-icon_open::after {
    content: "";
    width: 50%;
    height: inherit;
    display: block;
    background-color: inherit;
    margin-top: 3px; }
  .header__menu-icon_open::before {
    content: "";
    width: 100%;
    height: inherit;
    display: block;
    background-color: inherit;
    margin-top: 6px; }

.header__menu_close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  color: #182C9F;
  font-size: 18px;
  font-weight: 600; }

.header__menu-icon_close {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(45deg) translate(9px, 0px);
      -ms-transform: rotate(45deg) translate(9px, 0px);
          transform: rotate(45deg) translate(9px, 0px); }
  .header__menu-icon_close::after {
    content: "";
    display: block;
    position: relative;
    top: -14px;
    left: -10px;
    width: 100%;
    height: 3px;
    background-color: #182C9F; }
  .header__menu-icon_close::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background-color: #182C9F; }

.header__menu-text_media {
  margin-left: 17px; }

.header__menu_media_active {
  display: block;
  -webkit-animation: fadeInLeft .3s ease-in-out both;
          animation: fadeInLeft .3s ease-in-out both; }

.header__menu_media_unactive {
  -webkit-animation: fadeOutLeft .3s ease-in-out both;
          animation: fadeOutLeft .3s ease-in-out both; }

.header__nav_media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px; }
  .header__nav_media .header-menu__item {
    margin-bottom: 60px;
    font-size: 24px;
    color: rgba(65, 69, 92, 0.8); }
    .header__nav_media .header-menu__item::after {
      display: none; }
  .header__nav_media .menu__item_active {
    color: #41455C; }

.header__phone_media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start; }

.header__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo {
  margin-right: 70px; }

.header__logo_media {
  margin-right: 0px; }

.header__tel_media {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500; }

.header__phone-text, .header__phone-text_media {
  margin-top: 10px;
  margin-left: 20px; }

.logo__first-word {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.095em;
  text-transform: uppercase;
  color: #182C9F; }

.logo__second-word {
  background: -o-linear-gradient(45deg, #182C9F 0%, #0EA6A6 100%);
  background: linear-gradient(45deg, #182C9F 0%, #0EA6A6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase; }

.header-menu__item {
  display: inline-block;
  margin-right: 30px;
  font-weight: 500;
  font-size: 13px;
  color: rgba(65, 69, 92, 0.8); }
  .header-menu__item:last-child {
    margin-right: 0; }
  .header-menu__item:hover {
    color: #1F285A; }

.menu__item_active {
  font-weight: 600;
  color: #1F285A; }
  .menu__item_active:after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    -webkit-transform: translate(0px, 36px);
        -ms-transform: translate(0px, 36px);
            transform: translate(0px, 36px);
    background: -webkit-gradient(linear, left top, right top, from(#182C9F), to(#0EA6A6));
    background: -o-linear-gradient(left, #182C9F 0%, #0EA6A6 100%);
    background: linear-gradient(90deg, #182C9F 0%, #0EA6A6 100%); }

.header__doc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px; }
  .header__doc:hover {
    cursor: pointer; }

.header-doc__text {
  margin-left: 10px;
  font-weight: 600; }

.header__phone-link {
  color: #182C9F; }

.header-phone__tel {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.095em; }

.header-phone__text {
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8; }

.hero {
  position: relative;
  min-height: 740px;
  margin-top: 96px;
  background-size: 100% 100%;
  background-position: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60.5%, rgba(255, 255, 255, 0)), color-stop(96.93%, #FFFFFF));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 60.5%, #FFFFFF 96.93%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60.5%, #FFFFFF 96.93%); }

.hero__semicircle {
  width: 50vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.hero__img-semicircle {
  position: absolute;
  top: -95px;
  left: 0;
  z-index: -1; }

.hero__content {
  width: 50%;
  padding-top: 200px;
  z-index: 1; }

.hero__title {
  margin-bottom: 67px;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px; }

.hero__title_accent {
  display: inline-block;
  padding: 5px 10px;
  background: #0EA6A6;
  border-radius: 3px;
  color: #ffffff; }

.hero__form {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 10px; }

.hero-form__fields {
  margin-bottom: 20px; }

.hero-form__name {
  margin-right: 20px; }

.hero__text {
  margin-bottom: 63px;
  font-weight: 500;
  font-size: 10px;
  opacity: 0.8; }

.hero__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start; }

.hero__phone-link {
  color: #1F285A; }

.hero__phone-text {
  font-weight: 500;
  margin-top: 5px;
  margin-left: 20px; }

.hero-phone__tel {
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px; }

.hero__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 68%;
  height: 100%;
  z-index: -1;
  background: url("../img/hero_bg.png") no-repeat;
  background-position: right;
  background-size: cover; }

.hero__img-bg {
  display: none;
  width: 100%;
  height: 100%; }

.hero__semicircle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 1250px;
  background: url("../img/hero_semicircle.png");
  background-size: cover;
  background-position: center;
  z-index: -1; }

.advantages {
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px; }

.advantages__tooth {
  position: absolute; }

.advantages__tooth_big {
  right: 0;
  top: 5%;
  width: 18%;
  max-width: 360px;
  min-width: 90px; }
  .advantages__tooth_big img {
    width: 100%; }

.advantages__tooth_small {
  left: -20px;
  bottom: -130px;
  z-index: -1; }
  .advantages__tooth_small img {
    width: 100%; }

.advantages__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.advantages__item {
  padding-left: 20px;
  width: 28%;
  min-width: 245px;
  margin-right: 20px;
  margin-bottom: 70px; }

.advantages__title {
  margin-bottom: 63px;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px; }

.advantages-item__title {
  position: relative;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px; }
  .advantages-item__title::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: -20px;
    display: block;
    background: #182C9F; }

.advantages-item__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #41455C; }

.advantages__item_active {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 20px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #0EA6A6; }
  .advantages__item_active .advantages-item__title::before {
    display: none; }
  .advantages__item_active .advantages-item__text {
    color: #ffffff; }

.feedback {
  padding: 73px 0px 92px 0px;
  text-align: center;
  background: url("../img/feedback_bg.png"); }

.feedback__content {
  display: inline-block; }

.feedback__form {
  display: inline-block;
  margin: 0 auto; }

.feedback__title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF; }

.feedback-form__input {
  margin-right: 20px; }

.feedback__text {
  font-weight: 500;
  font-size: 10px;
  color: #FFFFFF;
  opacity: 0.8; }

.hero-form__btn-submit {
  width: 410px;
  padding-left: 10px;
  padding-right: 10px; }

.feedback__text {
  margin-top: 10px;
  text-align: end; }

.steps {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px; }

.steps__elainer {
  position: absolute;
  width: 35%;
  max-width: 450px;
  bottom: -25%;
  right: 0;
  z-index: -1; }
  .steps__elainer img {
    width: 100%; }

.steps__tooth {
  position: absolute;
  left: 0;
  top: 35%;
  width: 17%;
  max-width: 250px;
  z-index: 1; }
  .steps__tooth img {
    width: 100%; }

.steps__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 50px; }

.steps__content {
  position: relative;
  max-width: 1980px;
  margin: 0 auto; }

.steps__line {
  position: absolute;
  height: 2px;
  width: 104%;
  top: -77px;
  left: 52.1%; }

.steps__line_long {
  width: 106.5%; }

.steps__line_vertical {
  position: absolute;
  height: 100%;
  width: 2px;
  top: 97px;
  right: 15.7%;
  background: -webkit-gradient(linear, left top, right top, from(#0EA6A6), to(#1091A5));
  background: -o-linear-gradient(left, #0EA6A6 0%, #1091A5 100%);
  background: linear-gradient(90deg, #0EA6A6 0%, #1091A5 100%); }

.steps__line_vertical-end {
  position: absolute;
  height: 100%;
  width: 2px;
  top: 97px;
  left: 15.7%;
  background: -webkit-gradient(linear, left top, right top, from(#0EA6A6), to(#1091A5));
  background: -o-linear-gradient(left, #0EA6A6 0%, #1091A5 100%);
  background: linear-gradient(90deg, #0EA6A6 0%, #1091A5 100%); }

.steps__line_end {
  right: 52.1%;
  left: initial; }

.steps__line_end-long {
  width: 106.5%; }

.steps__line_1 {
  background: -webkit-gradient(linear, left top, right top, from(#0EA6A6), to(#1091A5));
  background: -o-linear-gradient(left, #0EA6A6 0%, #1091A5 100%);
  background: linear-gradient(90deg, #0EA6A6 0%, #1091A5 100%); }

.steps__step {
  position: relative;
  width: 31.5789%;
  padding: 29px 27px 36px 30px;
  margin-right: 2.6315%;
  color: #FFFFFF;
  border-radius: 3px; }

.steps__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 172px; }

.steps__row_end {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .steps__row_end .steps__step {
    margin-right: 0px;
    margin-left: 2.6315%; }

.steps__step_1 {
  background-color: #0EA6A6;
  border-color: #0EA6A6; }
  .steps__step_1 .step__circle::after {
    background-color: #0EA6A6; }

.steps__step_2 {
  background: #1091A5;
  border-color: #1091A5; }
  .steps__step_2 .step__circle::after {
    background-color: #1091A5; }

.steps__step_3 {
  background: #117EA4;
  border-color: #117EA4; }
  .steps__step_3 .step__circle::after {
    background-color: #117EA4; }

.steps__step_4 {
  background: #136AA2;
  border-color: #136AA2; }
  .steps__step_4 .step__circle::after {
    background-color: #136AA2; }

.steps__step_5 {
  background: #1645A0;
  border-color: #1645A0; }
  .steps__step_5 .step__circle::after {
    background-color: #1645A0; }

.steps__step_6 {
  background: #182C9F;
  border-color: #182C9F; }
  .steps__step_6 .step__circle::after {
    background-color: #182C9F; }

.step__circle {
  position: absolute;
  top: -92px;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  left: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid;
  border-color: inherit;
  background-color: #ffffff; }
  .step__circle::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: 5px;
    border-radius: 50%;
    background-color: inherit; }

.step__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px; }

.step__text {
  font-weight: 500;
  line-height: 20px; }

.results {
  position: relative;
  padding: 40px 0;
  background: rgba(212, 216, 243, 0.25); }

.results__wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
          box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06); }

.results__title {
  padding: 53px 20px 18px 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  text-align: center; }

.results__text {
  margin-bottom: 60px;
  padding: 0 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #41455C; }

.results__content {
  width: 88%;
  margin: 0 auto;
  padding-bottom: 32px; }

.results__slide {
  width: 100%;
  z-index: 3; }

.results__result-img {
  min-height: 180px; }

.slick-dots {
  margin-top: 30px; }

.slick-dot_custom {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #182C9F; }
  .slick-dot_custom::after {
    content: "";
    display: none;
    width: 18px;
    height: 18px;
    margin: 5px;
    background-color: #182C9F;
    border-radius: 50%; }
  .slick-dot_custom:hover {
    cursor: pointer; }

.slick-active .slick-dot_custom::after {
  display: block; }

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slick-dots li {
    margin-right: 20px; }
    .slick-dots li:last-child {
      margin-right: 0; }

.arrows_custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0; }

.arrow-prev_custom:hover, .arrow-next_custom:hover {
  cursor: pointer; }

.twentytwenty-handle {
  background-color: #ffffff; }

.twentytwenty-left-arrow {
  border-right-color: #182C9F; }

.twentytwenty-right-arrow {
  border-left-color: #182C9F; }

.twentytwenty-overlay {
  display: none; }

.results__result {
  width: 100%; }
  .results__result img {
    width: 100%; }

.reviews {
  position: relative;
  padding: 120px 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(212, 216, 243, 0.25)), to(rgba(255, 255, 255, 0.25)));
  background: -o-linear-gradient(top, rgba(212, 216, 243, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
  background: linear-gradient(180deg, rgba(212, 216, 243, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%); }

.reviews__tooth {
  position: absolute;
  min-width: 150px; }
  .reviews__tooth img {
    width: 100%; }

.reviews__tooth_left {
  top: 50%;
  left: 10%;
  width: 17%;
  max-width: 250px; }

.reviews__tooth_right {
  bottom: 0%;
  right: 10%;
  width: 15%;
  max-width: 220px; }

.reviews__title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  text-align: center; }

.reviews__text {
  margin-bottom: 60px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #41455C; }

.reviews__content {
  position: relative; }

.reviews__iphone {
  position: absolute;
  min-width: 360px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.reviews__iphone-img {
  width: 100%; }

.reviews__slider {
  width: 320px;
  min-width: 195px;
  margin: 0 auto;
  padding-top: 20px; }

.reviews__review-img {
  width: 100%; }

.reviews__arrows_custom {
  width: 680px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.review__arrow-next img, .review__arrow-prev img {
  width: 100%;
  height: 100%; }

.questions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 820px;
  max-height: 1480px; }

.questions__left-side, .questions__right-side {
  width: 50%;
  padding-top: 100px; }

.questions__left-side {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10%;
  background-color: rgba(212, 216, 243, 0.25); }

.questions__right-side {
  padding-right: 10%;
  padding-left: 6.4%;
  padding-bottom: 20px;
  background-color: #FAFAFF; }

.questions__content {
  overflow-y: auto;
  max-height: 100%; }
  .questions__content::-webkit-scrollbar {
    width: 0px; }

.questions__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 50px; }

.questions__doc-img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  height: 70%;
  min-height: 560px; }

.questions__doc-card {
  width: 100%;
  padding: 20px 30px 30px 30px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #0EA6A6;
  z-index: 3; }

.questions__doc-name {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 36px;
  line-height: 41px; }

.questions__doc-spec {
  margin-bottom: 14px;
  font-weight: 500;
  line-height: 20px; }

.questions__doc-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px; }

.questions__item {
  margin-top: 20px;
  overflow: hidden; }

.questions__item_active .question__arrow {
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1); }

.questions__item_active .answer {
  display: block;
  -webkit-animation: fadeIn .3s ease-in-out both;
          animation: fadeIn .3s ease-in-out both; }

.questions__item_unactive .answer {
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-animation: scaleOut .5s ease-in-out both;
          animation: scaleOut .5s ease-in-out both; }

.question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  width: 100%;
  padding: 16px 20px;
  border-radius: 3px;
  background-color: #0EA6A6;
  -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
          box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06); }
  .question:hover {
    cursor: pointer; }

.question__text {
  padding-right: 10px;
  border-radius: 3px;
  font-weight: 600;
  color: #FFFFFF; }

.question__arrow {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.answer {
  display: none;
  padding: 18px 20px;
  background: #FFFFFF;
  border: 2px solid rgba(14, 166, 166, 0.25);
  -webkit-box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
          box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06);
  border-radius: 3px; }

.checklist {
  padding-top: 120px;
  padding-bottom: 51px; }

.checklist__title {
  margin-bottom: 69px;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px; }

.checklist__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.checklist__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30.333%;
  min-width: 245px;
  margin-right: 30px;
  margin-bottom: 69px; }

.checklist-item__num {
  margin-right: 23px;
  min-height: 45px;
  min-width: 45px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  background-color: #0EA6A6; }

.checklist-item__title {
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #41455C; }

.checklist-item__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px; }

.map__map-img {
  width: 100%; }

.footer {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #0C1233; }

.footer__logo-wrapper {
  display: inline-block; }

.logo__first-word_white {
  color: #ffffff; }

.logo__second-word_white {
  color: rgba(255, 255, 255, 0.8);
  background: none;
  -webkit-text-fill-color: #ffffff; }

.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.footer__row-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px; }

.footer__col-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 72%; }

.footer__org {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%; }

.footer__logo {
  width: 25%;
  margin-right: 10px; }

.footer__org-adress, .footer__org-info {
  padding-right: 10px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8); }

.footer__row-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__col-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 72%; }

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  margin-right: 10px; }
  .footer__nav .menu__item_active {
    color: #ffffff; }
    .footer__nav .menu__item_active::after {
      display: none; }

.footer-menu__item {
  font-weight: 500;
  line-height: 44px;
  color: rgba(255, 255, 255, 0.8); }

.footer__text {
  width: 75%;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.5; }
  .footer__text p:first-child {
    margin-bottom: 20px; }

.footer-phone__tel {
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.095em;
  color: #ffffff; }

.footer-phone__text {
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8; }

.footer__doc-btn {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#182C9F), to(#0EA6A6));
  background: -o-linear-gradient(left, #182C9F, #0EA6A6);
  background: linear-gradient(to right, #182C9F, #0EA6A6);
  padding: 3px;
  border-radius: 3px;
  border: none; }

.footer__doc-text {
  padding: 16px 40px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background-color: #0C1233; }
  .footer__doc-text:hover {
    cursor: pointer; }

.footer_media {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__logo-wrapper_media {
  margin-bottom: 30px; }

.footer__org-info_media {
  padding: 0;
  margin-bottom: 15px;
  text-align: center;
  width: 70%; }
  .footer__org-info_media br {
    display: none; }

.footer__org-adress_media {
  padding: 0;
  margin-bottom: 35px;
  text-align: center;
  width: 70%; }
  .footer__org-adress_media br {
    display: none; }

.footer__phone_media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  text-align: center; }

.footer__phone-wrapper_media {
  margin-left: 15px; }

.footer-phone__text_media {
  text-align: start; }

.footer__nav_media {
  width: 100%;
  margin-bottom: 25px;
  margin-right: 0px;
  text-align: center; }

.footer__doc-btn_media {
  margin-bottom: 40px; }

@-webkit-keyframes btn_flare {
  0% {
    -webkit-transform: translate3d(-60px, 0, 0) rotate(45deg);
            transform: translate3d(-60px, 0, 0) rotate(45deg); }
  100% {
    -webkit-transform: translate3d(5000%, 0, 0) rotate(45deg);
            transform: translate3d(5000%, 0, 0) rotate(45deg); } }

@keyframes btn_flare {
  0% {
    -webkit-transform: translate3d(-60px, 0, 0) rotate(45deg);
            transform: translate3d(-60px, 0, 0) rotate(45deg); }
  100% {
    -webkit-transform: translate3d(5000%, 0, 0) rotate(45deg);
            transform: translate3d(5000%, 0, 0) rotate(45deg); } }

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes scaleOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    opacity: 0; } }

@keyframes scaleOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    opacity: 0; } }

@-webkit-keyframes fadeOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }

@media screen and (max-width: 1440px) {
  .hero__img-bg {
    display: block; }
  .hero__bg {
    background: initial; }
  .hero {
    min-height: 540px; }
  .hero__content {
    padding-top: 100px; } }

@media screen and (max-width: 1198px) {
  .header__item {
    display: none; }
  .header_media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media screen and (max-width: 992px) {
  .wrapper-offset {
    padding-left: 60px;
    padding-right: 60px; }
  .hero__content {
    padding-top: 40px; }
  .hero__title {
    margin-bottom: 25px;
    font-size: 36px; }
  .hero-form__btn-submit {
    width: 100%;
    display: block;
    margin-top: 20px; }
  .hero-form__input {
    padding: 12px 14px; }
  .hero__text {
    margin-bottom: 40px; }
  .hero__semicircle {
    min-width: 992px; }
  .hero__bg {
    width: 85%; }
  .feedback-form__tel {
    margin: 0; }
  .steps__tooth {
    left: -40px; }
  .reviews__tooth_left {
    left: 0px; }
  .reviews__tooth_right {
    right: 0px; }
  .questions__left-side {
    padding-left: 60px;
    padding-top: 60px; }
  .questions__right-side {
    padding-right: 60px;
    padding-top: 60px; }
  .questions__doc-img {
    width: 100%;
    height: auto; }
  .footer__row-top, .footer__row-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__col-top {
    width: 100%;
    margin-bottom: 40px; }
  .footer__col-bottom {
    width: 100%;
    margin-bottom: 40px; }
  .footer__row-bottom {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

@media screen and (max-width: 768px) {
  .wrapper-offset {
    padding-left: 40px;
    padding-right: 40px; }
  .hero__content {
    padding-top: 30px; }
  .hero__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px; }
  .hero-form__input {
    width: 100%;
    display: block;
    padding: 10px 12px;
    margin-right: 0px; }
    .hero-form__input:first-child {
      margin-bottom: 10px; }
  .hero__text {
    margin-bottom: 30px; }
  .hero__phone-text {
    width: 70%; }
  .hero__semicircle {
    min-width: 825px; }
  .advantages__tooth_small {
    display: none; }
  .steps__line, .steps__line_vertical-end, .steps__line_vertical, .step__circle {
    display: none; }
  .steps__step {
    width: 50%; }
  .steps__row {
    padding-top: 60px; }
  .steps__row_end {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .steps__row_end .steps__step {
    margin-left: 0px;
    margin-right: 2.6315%; }
  .steps__step:last-child {
    margin-right: 0px; }
  .steps__tooth {
    display: none; }
  .steps__elainer {
    top: 35%;
    bottom: initial;
    min-width: 250px; }
  .reviews__arrows_custom {
    width: 100%; }
  .reviews__tooth_left {
    left: -80px; }
  .reviews__tooth_right {
    right: -80px; }
  .questions {
    height: auto;
    min-height: initial;
    max-height: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .questions__left-side {
    width: 100%;
    min-height: 792px;
    padding-left: 40px;
    padding-right: 40px; }
  .questions__right-side {
    width: 100%;
    padding: 40px; }
  .questions__content {
    max-height: initial; }
  .questions__doc-img {
    width: 70%;
    height: 70%;
    max-width: 472px; } }

@media screen and (max-width: 609px) {
  .hero-form__btn-submit {
    width: 100%; }
  .hero__content {
    width: 100%; }
  .hero__title {
    width: 70%;
    height: 100vh;
    max-height: 580px;
    font-size: 28px; }
  .hero__bg {
    width: 100%;
    height: 100vh;
    max-height: 580px; }
    .hero__bg::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(60.5%, rgba(255, 255, 255, 0)), color-stop(96.93%, #FFFFFF));
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 60.5%, #FFFFFF 96.93%);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60.5%, #FFFFFF 96.93%); }
  .hero__img-bg {
    height: 95%;
    width: 135%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1; }
  .hero__form {
    width: 100%;
    margin: 0px auto 15px auto; }
  .hero__text {
    margin-bottom: 15px;
    text-align: center; }
  .hero__phone {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px; }
  .hero-phone__content {
    width: 50%;
    min-width: 180px; }
  .hero__phone, .hero__text {
    max-width: 380px;
    margin: 15px auto 0 auto; }
  .hero__phone-text {
    margin-top: 8px; }
  .hero__semicircle {
    min-width: initial;
    height: 100vw;
    width: 100vw;
    min-width: 495px;
    min-height: 495px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    background-position: top;
    background-size: auto; }
  .advantages__title {
    width: 70%; }
  .advantages__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .advantages__item {
    width: 100%;
    margin-right: 0px; }
  .feedback__form {
    width: 80%; }
  .feedback-form__input {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px; }
  .feedback__title, .feedback__text {
    padding: 0 25px; }
  .feedback__text {
    text-align: center; }
  .steps__title {
    margin-bottom: 60px; }
  .steps__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0; }
  .steps__row_end .steps__step {
    margin-right: 0px; }
  .steps__step {
    margin-bottom: 10px;
    margin-right: 0px;
    width: 80%; }
  .results {
    padding-top: 0px;
    padding-bottom: 0px; }
  .results__wrapper {
    background-color: initial;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    width: 100%; }
  .results__title,
  .results__text {
    padding-left: 40px;
    padding-right: 40px; }
  .results__content {
    width: 100%; }
  .results__arrow-next, .results__arrow-prev {
    display: none !important; }
  .slick-dot_custom {
    width: 16px;
    height: 16px; }
    .slick-dot_custom::after {
      width: 8px;
      height: 8px;
      margin: 2px; }
  .reviews__slider {
    width: 45%; }
  .reviews__tooth_left {
    top: 80%;
    z-index: -1; }
  .reviews__tooth_right {
    z-index: -1;
    bottom: -20%; }
  .reviews__iphone {
    width: 51%;
    min-width: 225px; }
  .questions__doc-img {
    width: 90%;
    min-width: 420px; }
  .checklist__item {
    width: 100%;
    margin-right: 10px; }
  .footer__row-top, .footer__row-bottom {
    display: none; }
  .footer {
    padding: 60px 20px; }
  .footer_media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media screen and (max-width: 525px) {
  .hero__img-bg {
    width: 125%; }
  .hero__bg {
    max-height: 530px; }
  .hero__title {
    max-height: 530px; } }

@media screen and (max-width: 420px) {
  .wrapper-offset {
    padding-left: 20px;
    padding-right: 20px; }
  .header__nav_media .header-menu__item {
    margin-bottom: 30px;
    font-size: 15px; }
  .header__tel_media {
    margin-left: 15px;
    font-size: 14px; }
  .header__phone-text_media {
    margin-left: 15px; }
  .hero__title {
    width: 100%;
    text-align: center;
    padding: 0 20px;
    font-size: 24px;
    max-height: 500px; }
  .hero__bg {
    max-height: 500px; }
  .hero__img-bg {
    width: 150%;
    height: 79%; }
  .advantages {
    padding-bottom: 60px; }
  .advantages__tooth_big {
    top: 15%; }
  .advantages__item {
    margin-bottom: 24px; }
    .advantages__item:last-child {
      margin-bottom: 0; }
  .advantages__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px; }
  .advantages-item__title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 20px; }
  .advantages-item__text {
    font-size: 12px;
    line-height: 20px; }
  .steps {
    padding-top: 75px;
    padding-bottom: 50px; }
  .steps__title {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 30px; }
  .steps__step {
    width: 100%; }
  .step__title {
    font-size: 18px;
    line-height: 20px; }
  .step__text {
    font-size: 12px;
    line-height: 20px; }
  .results__title {
    padding: 30px 20px 16px 20px;
    font-size: 18px;
    line-height: 20px; }
  .results__text {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 20px; }
  .reviews {
    padding-top: 50px;
    padding-bottom: 70px; }
  .reviews__title {
    font-size: 18px;
    line-height: 20px; }
  .reviews__text {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 20px; }
  .review__arrow-next, .review__arrow-prev {
    width: 50px;
    height: 50px; }
  .questions__title {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 24px;
    line-height: 30px;
    text-align: center; }
    .questions__title br {
      display: none; }
  .questions__left-side {
    min-height: 520px;
    padding: 40px 20px 0px 20px; }
  .questions__doc-img {
    width: initial;
    min-height: initial;
    min-width: initial; }
  .questions__right-side {
    padding: 70px 20px 40px 20px; }
  .questions__doc-card {
    position: relative;
    top: 40px;
    padding: 15px; }
  .questions__doc-name {
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 20px; }
  .questions__doc-spec {
    margin-bottom: 13px;
    font-size: 10px;
    line-height: 20px; }
  .questions__doc-text {
    font-size: 12px;
    line-height: 20px; }
  .checklist {
    padding-top: 20px;
    padding-bottom: 60px; }
  .checklist__title {
    margin-bottom: 36px;
    line-height: 30px;
    font-size: 24px; }
  .checklist-item__text {
    font-size: 14px;
    line-height: 18px; }
  .checklist-item__num {
    font-size: 14px;
    line-height: 28px;
    min-width: 32px;
    min-height: 32px; }
  .checklist__item {
    margin-bottom: 36px; }
  .checklist-item__title {
    margin-bottom: 5px; }
  .footer__text_media {
    width: 100%;
    text-align: center; } }
