@import normalize 
@import vars 

body
	overflow-x: hidden
	color: #000000
	font-size: 13px
	font-family: 'Montserrat', sans-serif;
	color: $color_default
	line-height: 17px
*
	box-sizing: border-box
a
	text-decoration: none
.wrapper-offset
	padding: 0 10%
.header
	display: flex
	align-items: center
	justify-content: space-between
	width: 100%
	padding-top: 33px
	padding-bottom: 29px
	background-color: #ffffff
	box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06)
.header__item
	display: flex
	align-items: center
.header__logo
	margin-right: 70px
.logo__first-word
	font-weight: bold
	font-size: 18px
	letter-spacing: 0.095em
	text-transform: uppercase
	color: #182C9F
.logo__second-word
	background: linear-gradient(45deg, #182C9F 0%, #0EA6A6 100%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	font-weight: 600
	font-size: 10px
	text-align: center
	letter-spacing: 0.15em
	text-transform: uppercase
.header-menu__item
	display: inline-block
	margin-right: 30px
	font-weight: 500
	font-size: 13px
	color: rgba(65, 69, 92, 0.8)
	&:last-child
		margin-right: 0
	&:hover
		color: #1F285A
.header-menu__item_active
	font-weight: 600
	color: #1F285A
	&:after
		content: ""
		width: 100%
		height: 2px
		display: block
		transform: translate(0px, 36px)
		background: linear-gradient(90deg, #182C9F 0%, #0EA6A6 100%);
.header__doc
	display: flex
	align-items: center
	margin-right: 40px
.header-doc__text
	margin-left: 10px
	font-weight: 600
.header__phone
	color: #182C9F
.header-phone__tel
	font-weight: bold
	font-size: 18px
	letter-spacing: 0.095em
.header-phone__text
	font-weight: 600
	font-size: 10px
	text-align: center
	text-transform: uppercase
	opacity: 0.8

.hero
	position: relative
	min-height: 620px

	background-size: 100% 100%
	background-position: center
.hero__semicircle
	width: 50vw
	position: absolute
	top: 0
	left: 0
	z-index: -1
.hero__img-semicircle
	position: absolute
	top: -95px
	left: 0
	z-index: -1
.hero__content
	width: 50%
	padding-top: 100px
	z-index: 1
.hero__title
	margin-bottom: 67px
	font-weight: 600
	font-size: 48px
	line-height: 50px
.hero__title_accent
	display: inline-block
	padding: 5px 10px
	background: #0EA6A6
	border-radius: 3px
	color: #ffffff
.hero__form
	width: max-content
	margin-bottom: 10px
.hero-form__fields
	margin-bottom: 20px
.hero-form__input
	padding: 16px 20px
	background-color: #ffffff
	border: 2px solid #D4D8F3
	box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.06)
	border-radius: 3px
.hero-form__name
	margin-right: 20px
.hero-form__btn-submit
	width: 100%
	padding: 16px 0
	font-weight: 600
	text-align: center
	color: #ffffff
	background: linear-gradient(90deg, #182C9F 0%, #0EA6A6 100%)
	box-shadow: 0px 4px 32px rgba(15, 27, 97, 0.25)
	border-radius: 3px
	border: none
.hero__text	
	margin-bottom: 63px
	font-weight: 500
	font-size: 10px
	opacity: 0.8
.hero__phone
	display: flex
	align-items: center
.hero-phone__tel
	margin-left: 20px
	font-weight: 600
	font-size: 18px
	line-height: 50px
.hero__bg
	position: absolute
	top: 0
	right: 0
	width: 68%
	height: 100%
	z-index: -1
.hero__img-bg
	width: 100%
	height: 100%
.hero__semicircle
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	background: url('../img/hero_semicircle.png')
	background-size: cover
	background-position: center
	z-index: -1
//ADVANTAGES
.advantages
	padding-top: 120px
.advantages__content
	display: flex
	align-items: flex-start
	justify-content: space-between
	flex-wrap: wrap
	margin-bottom: 120px
.advantages__item
	padding-left: 20px
	width: 28%
	margin-bottom: 70px
.advantages__title
	margin-bottom: 63px
	font-weight: 600
	font-size: 36px
	line-height: 50px
.advantages-item__title
	position: relative
	margin-bottom: 20px
	font-weight: 600
	font-size: 24px
	line-height: 28px
	&::before
		content: ""
		position: absolute
		height: 100%
		width: 2px
		left: -20px
		display: block
		background: #182C9F
.advantages-item__text
	font-weight: 500
	font-size: 13px
	line-height: 20px
	color: #41455C
.advantages__item_active
	padding-top: 13px
	padding-bottom: 13px
	border-radius: 3px
	color: #ffffff
	background-color: $accent_color
	.advantages-item__title
		&::before 
			display: none
	.advantages-item__text
		color: #ffffff
@import media